.DS_Store
.doit.db
/paper/auto
*.aux
*.bbl
*.blg
*.log
*.out
*.tdo
/paper/jneurosci2013.pdf
/paper/jneurosci2013-diff.pdf
/paper/coverletter.pdf
/paper/rebuttal.pdf
*.h5
*.csv
*.pkl
*.pyc
*.class
/plots/*.svg
/figures/*.svg
*.nex
*.mat
*.eps
.ipynb_checkpoints
